@media screen and (max-width: 800px){
  .habilidades .contenidoSM .fila{
    display: block;
  }

  .habilidades .contenidoSM .fila .col{
    width: 100%;
    text-align: center;
  }

  .sobremi .contenidoSM .fila{
    display: block;
  }

  .sobremi .contenidoSM .fila .col{
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .resumen .contenidoSM .info{
    display: block;
  }

  .resumen .contenidoSM .fila .col{
    width: 90%;
    margin: auto;
  }

  .resumen .contenidoSM .info .col .titulo2{
    display: block;
    text-align: center;
 }

 .resumen .contenidoSM .info .col table{
    margin-top: 10px;
    margin-bottom: 30px;
 }

 .contacto .contenidoSM .fila{
    display: block;
 }
}